@import "@/assets/css/variables.scss";

/* :root {
  --light-main-color: white;
  --light-background-color: black;
} */

html {
  font-family: 'Raleway', sans-serif;
  width: 100vw;
  overflow: hidden;
}

body {
  overflow-y: auto;
}

body, #__nuxt, #__layout, #portfolio {
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  font-size: calc(16px + 1vw);
  /* line-height: calc(1.1em + 0.5vw); */
}

h1 {
  font-size: calc(1.2em + 3vw);
  margin: 0;
}

#title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nuxt-link-exact-active {
  text-decoration: none;
  color: inherit;
}

.dark {
  color: $dark-main-color;
  background-color: $dark-background-color;
  transition: $transition-time;
}

.light {
  color: $light-main-color;
  background-color: $light-background-color;
  transition: $transition-time;
}

.light-dot {
  color: $logo-green-color;
  transition: $transition-time;
}

.dark-dot {
  color: $logo-red-color;
  transition: $transition-time;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5vh 0;
}

footer > * {
  margin: 0 2vw;
}

#github-link {
  display: flex;
}

#github-logo {
  width: calc(16px + 2vw);
  height: calc(16px + 2vw);
}

.light-logo {
  fill: $light-main-color;
  transition: $transition-time;
}

.dark-logo {
  fill: $dark-main-color;
  transition: $transition-time;
}