@import "@/assets/css/variables.scss";

.container {
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-areas: ". content .";
}

.content {
  grid-area: content;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity $transition-time/2;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}