@import "@/assets/css/variables.scss";

.container {
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-rows: repeat(2,auto);
  grid-template-areas: ". content .";
}

.blog-container span {
  grid-area: content;
}

.blog-post-link {
  text-decoration: none;
  color: $light-main-color;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "title createdate"
    "preview preview";

  .blog-post-link-title {
    grid-area: title;
    margin: 0;
  }

  .blog-post-link-create-date {
    grid-area: createdate;
    justify-self: end;
  }

  .blog-post-link-preview {
    grid-area: preview;
  }

  &:hover {
    text-decoration: underline;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity $transition-time/2;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}