$light-main-color: black;
$light-background-color: white;
$dark-main-color: $light-background-color;
$dark-background-color: $light-main-color;

$logo-green-color: #008000;
$logo-red-color: #DB0000;

$transition-time: 1s;